[Unit]
Description=Run My Custom Task on a Schedule
Requires=changebg.service

[Timer]
# Set your desired schedule and options here
#OnCalendar=*-*-* 00:00:00
# Optional: Uncomment the line below to run the task every day at midnight

# Uncomment to run the task every minute
#OnUnitActiveSec=1m

# Uncomment to run the task every hour
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target

